#about {
  margin-top: 3rem;
  padding-bottom: 3rem;

  .scroll-ref {
    position: absolute;
    top: 0;
  }

  .title {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;

    img {
      width: 40px;
      padding-bottom: 15px;
    }
  }

  .avatar-container {
    img {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 65%;
    }
    p {
      margin-top: 10px;
      font-size: 12px;
      font-weight: 100;
      color: grey;
      text-align: center;
    }
  }

  .work-experience {
    h2 {
      text-align: center;
    }

    img {
      width: 65%;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }

    section {
      margin-top: 3rem;
    }

    h3 {
      font-size: 1.5rem;
      a {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .project-name {
      font-size: 1.1rem;
      color: #070066;
    }
  }

  section {
    margin: 10px 10px 0 10px;

    p {
      margin-top: 1.2rem;
      font-size: 1rem;
      line-height: 2rem;
    }

    a {
      color: midnightblue;
      font-size: 1.1rem;
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: lightgray;

      &:hover {
        color: navajowhite;
        text-decoration-color: orange;
      }
    }

    h2 {
      border-bottom: 2px solid lightgray;
      padding-bottom: 12px;
    }
  }
}
